[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=jenkins
Group=www-data
WorkingDirectory={{djangoservice.workingdir}}
ExecStart={{djangoservice.execstart}}

[Install]
WantedBy=multi-user.target